.k-form>div.form,
.control-net>div:nth-child(3)>div>div.form {
  box-shadow: none;
  border: none;
  background: initial;
}

body.gradio-full .gradio-container {
  max-width: 100% !important;
}

.block.inline-flex {
  display: inline-flex;
}

.thumbnail-item {
  aspect-ratio: initial !important;
}

.ui-tabs.left>.tab-nav button.selected {
  margin-left: 15px;
}

.ui-tabs.left>.tab-nav button.selected::before {
  content: "👉";
  position: absolute;
  margin-left: -24px;
  margin-top: -1px;
}

.block.training-misc-params {
  position: absolute;
  bottom: 0;
}

.clear-flex-grow .gap {
  flex-grow: unset !important;
}

.send-targets-base,
.send-targets-cnet {
  display: grid !important;
  grid-auto-flow: column;
}

.send-targets-base button,
.send-targets-cnet button {
  width: initial !important;
  min-width: initial !important;
}

.send-targets-extensions button {
  width: initial !important;
  min-width: initial !important;
  flex-grow: 1 !important;
}

.options-small {
  width: 100px !important;
}

.options-medium {
  width: 300px !important;
}

.kubin-accordion .label-wrap span {
  text-transform: uppercase;
  padding: 0 5px;
  border-radius: var(--block-radius);
}

.kubin-accordion .label-wrap>span>span.added-condition {
  background: var(--secondary-600);
  color: white;
  text-transform: none;
  margin-left: 7px;
  display: none;
}

.kubin-accordion .label-wrap>span>span.added-condition.active {
  display: inline;
}

.inpaint_params>.stretch>.block:not(.extension-container) {
  height: 600px !important;
}