body[class*="pipeline-native"] .diffusers-control {
  display: none;
}

body[class*="pipeline-diffusers"] .native-control {
  display: none;
}

body:not([class*="pipeline-diffusers-kd22"]) .diffusers-kd22-control {
  display: none;
}

body[class*="pipeline-"][class*="-kd20"] [class*="unsupported_20"],
body[class*="pipeline-native-kd21"] [class*="unsupported_21"],
body[class*="pipeline-diffusers-kd21"] [class*="unsupported_d21"],
body[class*="pipeline-"][class*="-kd22"] [class*="unsupported_22"] {
  display: none;
}

body[class*="pipeline-"][class*="-kd20"] .ui-tabs>.tab-nav>button:nth-child(3),
body[class*="pipeline-"][class*="-kd20"] .ui-tabs>.tab-nav>button:nth-child(5) {
  display: none;
}


body[class*="pipeline-"][class*="-kd20"] .settings-tabs>.tabs>.tab-nav>button:nth-child(2),
body[class*="pipeline-diffusers-kd21"] .settings-tabs>.tabs>.tab-nav>button:nth-child(2),
body[class*="pipeline-"][class*="-kd22"] .settings-tabs>.tabs>.tab-nav>button:nth-child(2) {
  display: none;
}

body:not(.pipeline-diffusers-kd22) .control-net {
  display: none;
}

.k-form>div.form,
.control-net>div:nth-child(3)>div>div.form {
  box-shadow: none;
  border: none;
  background: initial;
}

body.gradio-full .gradio-container {
  max-width: 100% !important;
}

.block.inline-flex {
  display: inline-flex;
}

.thumbnail-item {
  aspect-ratio: initial !important;
}

.ui-tabs.left>.tab-nav button.selected {
  margin-left: 15px;
}

.ui-tabs.left>.tab-nav button.selected::before {
  content: "👉";
  position: absolute;
  margin-left: -24px;
  margin-top: -1px;
}

.block.training-misc-params {
  position: absolute;
  bottom: 0;
}

.send-targets-base,
.send-targets-cnet {
  display: grid !important;
  grid-auto-flow: column;
}

.send-targets-base button,
.send-targets-cnet button {
  width: initial !important;
  min-width: initial !important;
}

.send-targets-extensions button {
  width: initial !important;
  min-width: initial !important;
  flex-grow: 1 !important;
}

.options-small {
  width: 100px !important;
}