.vscode
.idea
.local
/venv
main.*
**/__pycache__
**/__triton__
**/.installed
/flagged
/configs/*.yaml
!/configs/kubin.default.yaml
/configs/ui/*
/extensions
/models
/output
/train
/checkpoints
kubin.env.yaml