.vscode
.idea
.local
.claude
.traycer
/venv
main.*
**/__pycache__
**/__triton__
**/.installed
/flagged
/configs/*.yaml
!/configs/kubin.default.yaml
/configs/ui/*
/src/models/model_50/configs/ui/*
/extensions
/models
/output
/train
/checkpoints
kubin.env.yaml