.vscode
.idea
/venv
**/__pycache__
**/.installed
/flagged
/configs/*.yaml
!/configs/kubin.default.yaml
/extensions/*/config.yaml
/extensions/*/*custom.yaml
/extensions/*/*user.yaml
!/extensions/*/config.default.yaml
/models
/output
/train
/checkpoints