git+https://github.com/ai-forever/Kandinsky-2.git@33c3176
git+https://github.com/openai/CLIP.git@a1d0717
diffusers==0.20.2
transformers==4.31.0
accelerate==0.21.0
opencv-python==4.8.0.74
gradio==3.39.0
psutil==5.9.5
deepdiff==6.3.1
torchsde==0.2.5
compel==2.0.2