numpy==1.26.4
setuptools==69.5.1
git+https://github.com/ai-forever/Kandinsky-2.git@33c3176
git+https://github.com/openai/CLIP.git@a1d0717
diffusers==0.30.3
transformers==4.54.1
torchao==0.11.0
optimum-quanto==0.2.6
tokenizers==0.21.0
accelerate==1.0.1
safetensors==0.4.5
opencv-python==4.8.0.74
git+https://github.com/facebookresearch/pytorchvideo@ae9cfc6
gradio==3.50.2
moviepy==1.0.3
toolz==1.0.0
psutil==5.9.5
protobuf==5.29.4
deepdiff==8.0.1
torchsde==0.2.6
dynamicprompts==0.31.0
compel==2.0.3
mutagen==1.47.0
huggingface-hub==0.34.3
bitsandbytes==0.45.5
triton-windows==3.2.0.post18; platform_system == "Windows"
triton==3.2.0; platform_system != "Windows"
#flash_attn==2.7.0.post2; platform_system != "Windows"