clean-fid==0.1.35
einops==0.7.0
ftfy==6.1.1
ipython==8.16.1
ipywidgets==8.1.1
jsonmerge==1.9.2
kornia==0.7.0
matplotlib==3.8.0
numexpr==2.8.7
pandas==2.0.3
pytorch_lightning==2.0.5
resize-right==0.0.2
scikit-image==0.22.0
scikit-learn==1.3.1
timm==0.4.12
torchdiffeq==0.2.3
more_itertools==10.1.0
devtools==0.12.2
validators==0.22.0
numpngw==0.1.3
open-clip-torch==2.18.0
torchsde==0.2.5
ninja==1.11.1.1
pydantic==2.0.3
imageio[ffmpeg]==2.31.5