#training-tools-df {
  height: 1000px;
  overflow-y: scroll;
}

#training-tools-df td {
  white-space: normal;
  vertical-align: top;
}

#training-tools-df .table-wrap {
  margin-right: 10px;
}

#training-tools-df .controls-wrap {
  display: none;
}
