general:
  device: cuda
  cache_dir: models
  model_name: kd22
  output_dir: output
  pipeline: diffusers
  mock: false
  profiler: none
  extensions_path: extensions
  enabled_extensions: null
  disabled_extensions: null
  extensions_order: kd-upscaler;kd-animation,kd-video,kd-image-browser,kd-networks,kd-training
  skip_install: false
  safe_mode: false
  share: none
  never_unload_models: null

gradio:
  server_name: 127.0.0.1
  server_port: 7860
  concurrency_count: 2
  debug: true
  theme: default
  analytics: true

ui:
  image_width_min: 64
  image_width_max: 2048
  image_width_step: 64
  image_width_default: 768
  image_height_min: 64
  image_height_max: 2048
  image_height_step: 64
  image_height_default: 768
  decoder_steps_default: 50
  max_batch_count: 64
  aspect_ratio_list: 1:1;13:6;2:1;16:9;3:2;4:3;5:4;4:5;3:4;2:3;9:16;6:13;1:2
  allow_params_panel_resize: true
  enable_vertical_alignment: false
  collapse_advanced_params: false
  full_screen_panel: false
  side_tabs: true
  show_help_text: false
  progress_poll_interval: 2

native:
  flash_attention: false
  text_encoder: default
  use_kandinsky_flash: true
  optimization_flags: kd30_low_vram;kd31_low_vram

diffusers:
  half_precision_weights: true
  enable_xformers: false
  enable_sdp_attention: false
  enable_sliced_attention: false
  channels_last_memory: false
  sequential_cpu_offload: false
  full_model_offload: false
  torch_code_compilation: false
  use_deterministic_algorithms: false 
  use_tf32_mode: false 
  attention_slice_size: max
  run_prior_on_cpu: false 
  
